.hero {
  --panel-accent: var(--color-light);

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  color: var(--color-light);
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.hero .wrapper {
  position: relative;
  padding: calc(5rem + var(--size-900)) 0;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

.hero__lines {
  position: absolute;
  bottom: 0;
  right: 0;
  width: min(25%, 20rem);
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: left bottom;
}

.hero .wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 30%;
  width: 8rem;
  height: 8rem;
  transform: skew(-25deg);
  background: var(--color-pink);
  z-index: -1;
}

.hero .wrapper:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 8rem;
  height: 4rem;
  transform: skew(-25deg);
  background: var(--color-pink);
  z-index: -1;
}

.hero h1 {
  color: var(--color-lime);
}