.hero {
  --panel-accent: var(--color-light);

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  color: var(--color-light);
  overflow: hidden;
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.hero .wrapper {
  position: relative;
  padding: calc(5rem + var(--size-900)) 0;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

.hero__stripe {
  position: absolute;

}

.hero__stripe {
  position: absolute;
  transform: skew(-25deg);
  z-index: -1;
}

.hero__stripe[data-position="top"] {
  top: 0;
  left: 30%;
  width: 8rem;
  height: 8rem;
  background: var(--color-pink);
}

.hero__stripe[data-position="bottom"] {
  bottom: 0;
  left: 10%;
  width: 8rem;
  height: 4rem;
  background: var(--color-pink);
}

.hero__stripe[data-position="right-inner"] {
  bottom: 0;
  right: 0;
  width: 10rem;
  height: 40rem;
  background: var(--color-lime);
}

.hero__stripe[data-position="right"] {
  bottom: 0;
  right: -4%;
  width: 8rem;
  height: 10rem;
  background: var(--color-lime);
}

.hero h1 {
  color: var(--color-lime);
}