.nav {
  font-family: var(--font-block);
  font-weight: var(--font-black);
  font-style: italic;
  text-transform: uppercase;
}

.nav li {
  --flow-space: 0.25em;
}

.nav li a {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  text-decoration: none;
  transition: .2s ease-in-out color;
}

.nav li svg {
  height: 1.25em;
  width: auto;
}

.nav li button {
  padding: 0.5em;
  border: none;
  background: var(--color-light);
  cursor: pointer;
  color: var(--color-charcoal);
  border-radius: var(--rounded-full);
}

.nav li button svg {
  height: 1em;
  width: auto;
}

.nav li a:not(.button):hover {
  color: var(--color-lime);
}