.search-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  padding: var(--size-300) 0;
  background: var(--color-charcoal);
  color: var(--color-light);
  z-index: 100;
  border-top: 4px solid var(--color-lime);
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: .4s ease-in-out;
  transition-property: transform, opacity, visibility;
}

.search-panel[data-active] {
  transform: none;
  opacity: 1;
  visibility: visible;
}

.search-panel__inner {
  position: relative;
}

.search-panel__input {
  display: block;
  width: 100%;
  background: none;
  border: none;
  font-size: var(--text-600);
  color: currentColor;
  padding-right: 2rem;
}

.search-panel__input:focus {
  outline: none;
}

.search-panel__button {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0;
  background: none;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
  color: currentColor;
}

.search-panel__button svg {
  width: 1em;
  height: auto;
}