---
layout: layouts/default.njk
title: Home
---

<!-- Header -->
{% include './_includes/partials/global/header.njk' %}

<!-- Blocks -->
{% include './_includes/partials/blocks/hero.njk' %}
{% include './_includes/partials/blocks/features.njk' %}
{% include './_includes/partials/blocks/stories.njk' %}
{% include './_includes/partials/blocks/story.njk' %}
{% include './_includes/partials/blocks/cards.njk' %}
{% include './_includes/partials/blocks/features.njk' %}
{% include './_includes/partials/blocks/awards.njk' %}
{% include './_includes/partials/blocks/image.njk' %}
{% include './_includes/partials/blocks/text.njk' %}
{% include './_includes/partials/blocks/stats.njk' %}
{% include './_includes/partials/blocks/faqs.njk' %}
{% include './_includes/partials/blocks/form.njk' %}

<!-- Footer -->
{% include './_includes/partials/global/footer.njk' %}