<section class="panel" data-overlap>
  <div class="wrapper">
    <div class="[ slab ] [ bg-pink text-light ]">
      <ul class="[ grid ] [ gap-600 lg:grid-cols-3 ]" role="list">
        <li class="[ breakdown ] [ flow ] [ text-center ]">
          <span class="breakdown__icon">{% include '../../../uploads/website.svg' %}</span>

          <h2 class="text-900">15</h2>
          <h3 class="text-400">Years of experience</h3>
        </li>
        <li class="[ breakdown ] [ flow ] [ text-center ]">
          <span class="breakdown__icon">{% include '../../../uploads/website.svg' %}</span>

          <h2 class="text-900">97%</h2>
          <h3 class="text-400">Years of experience</h3>
        </li>
        <li class="[ breakdown ] [ flow ] [ text-center ]">
          <span class="breakdown__icon">{% include '../../../uploads/website.svg' %}</span>

          <h2 class="text-900">100</h2>
          <h3 class="text-400">Years of experience</h3>
        </li>
      </ul>
    </div>
  </div>
</section>