[type='color'],
[type='date'],
[type='datetime-local'],
[type='datetime'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.3em 0.5em;
  background: var(--color-light);
  color: var(--color-charcoal);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

input[type="checkbox"],
input[type="radio"] {
  display: block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 4px;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
  color: currentColor;
}

fieldset {
  border: none;
  padding: 0;
}

label:not([class]),
legend:not([class]) {
  display: block;
  font-family: var(--font-block);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  font-style: italic;
  line-height: var(--leading-cosy);
  margin-bottom: var(--size-200);
}