.checklist {
  gap: var(--size-200);
  font-family: var(--font-block);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  font-style: italic;
  line-height: var(--leading-cosy);
}

.checklist li {
  display: flex;
  align-items: center;
  gap: 0.25em;
}