.quote {
  text-align: center;
  font-family: var(--font-block);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  font-style: italic;
  line-height: var(--leading-cosy);
  font-size: var(--text-800);
}

.quote__image {
  display: inline-block;
  width: 8rem;
  height: auto;
  border-radius: var(--rounded-full);
}

.quote cite {
  display: block;
  font-size: var(--text-400);
}

.quote svg {
  display: inline-block;
  width: 10rem;
  height: auto;
}