<footer>
    <ul>
        <li><a href="/services">Services</a></li>
        <li><a href="/company">Company</a></li>
        <li><a href="/stories">Success Stories</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <ul>
        <li><a href="/privacy.policy">Privacy</a></li>
        <li><a href="/coookie.policy">Cookies</a></li>
        <li><a href="/anti-slavery">Anti-Slavery</a></li>
    </ul>
    Copyright &copy; 2023 HeadChannel Consulting Limited. All rights reserved. 
</footer>