<!-- Charset: This specifies the character encoding for the HTML document.
    UTF-8 is a Unicode character set that includes characters from most written languages.
    This ensures that text in different languages will be displayed correctly. -->
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For old browsers -->
<link rel="shortcut icon" href="/assets/fav/favicon.ico">
<!-- For modern browsers -->
<link rel="icon" type="image/png" sizes="32x32" href="/assets/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/fav/favicon-16x16.png">

<title>{{ page.title }}</title>