<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/assets/fav/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/fav/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="/assets/web/manifest.webmanifest">

    <!-- Should come from frontmatter -->
    <meta property="og:site_name" content="Headchannel">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://headchannel.co.uk/">

    <script>document.documentElement.classList.remove('no-js');</script>

    {% if page.layout and page.layout == "search" %}
    <script src="/js/lunr.min.js"></script>
    <script src="/js/search-panel.js" type="module"></script>
    {% endif %}

    <script src="/js/menu-toggle.js" type="module"></script>

    <link rel="stylesheet" href="/assets/css/main.css">

    <title>{{ page.title }}</title>
    
</head>