<section class="hero">
    <img src="{{ page.image }}" class="hero__background" alt="">
    <img src="/assets/img/hero-2.svg" class="hero__lines" alt="">

    <div class="wrapper">
        <div class="[ flow ] [ max-w-[50ch] ]">
            {% if page.headline and page.headline != "" %}
            <h1>{{ page.headline }}</h1>
            <p>{{ page.headline_para }}</p>
            {% else %}
            <h1>{{ page.title }}</h1>
            <p>{{ page.summary }}</p>
            {% endif %}

            <div class="[ stack ] [ items-center ]">
                {% if page.cta and page.cta != "" %}
                <a href="/stories/" class="button">View All Stories</a>
                <div>
                    <h2 class="text-200">Have a question?</h2>
                    <p class="text-200">Give us a call</p>
                </div>
                {% endif %}

                {% if page.showcategories and page.showcategories != "" %}
                {% for category in site.category %}
                    {% assign category_url_part = "/blog/category/" | append: category.topic %}
                    {% if page.url contains category_url_part %}
                        <a href="{{ category_url_part }}" class="button highlighted">{{ category.headline }}</a>
                    {% else %}
                        <a href="{{ category_url_part }}" class="button">{{ category.headline }}</a>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- 

page.topic {{ page.topic }}
page.title {{ page.title }}
page.summary {{ page.summary }}
page.headline {{ page.headline }}
page.headline_para {{ page.headline_para }}
page.cta {{ page.cta }}
page.showcategories {{ page.showcategories }}

page.url {{ page.url }}
page.layout {{ page.layout }}

-->