<section class="hero">
    <img src="/uploads/hero-home.jpg" class="hero__background" alt="">
    <img src="/img/hero.svg" class="hero__pattern" alt="">

    <div class="wrapper">
        <div class="[ flow ] [ max-w-[50ch] ]">
            <h1>Bespoke Software development with a <strong>difference</strong>.</h1>
            <p>We engage over 200 software experts across 3 continents and use data to make decisions enabling us to
                design incredible software delivered with pace and rigour.</p>

            <div class="[ stack ] [ items-center ]">
                <a href="#" class="button">View All Stories</a>

                <div>
                    <h2 class="text-200">Have a question?</h2>
                    <p class="text-200">Give us a call</p>
                </div>
            </div>
        </div>
    </div>
</section>