<section class="hero">
    <img src="{{ page.image }}" class="hero__background" alt="">
    <img src="/assets/img/hero.svg" class="hero__pattern" alt="">

    <div class="wrapper">
        <div class="[ flow ] [ max-w-[50ch] ]">
            {% if page.headline and page.headline != "" %}
            <h1>{{ page.headline }}</h1>
            <p>{{ page.headline_para }}</p>
            {% else %}
            <h1>{{ page.title }}</h1>
            <p>{{ page.summary }}</p>
            {% endif %}

            {% if page.cta and page.cta != "" %}
            <div class="[ stack ] [ items-center ]">
                <a href="/stories/" class="button">View All Stories</a>

                <div>
                    <h2 class="text-200">Have a question?</h2>
                    <p class="text-200">Give us a call</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- 

page.title {{ page.title }}
page.summary {{ page.summary }}
page.headline {{ page.headline }}
page.headline_para {{ page.headline_para }}

-->