<menu-toggle>
  <button class="[ menu-toggle ] [ block lg:hidden ]">
    <svg xmlns="http://www.w3.org/2000/svg" class="open" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      stroke-width="2">
      <title>Toggle menu</title>
      <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" class="close" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
</menu-toggle>

<nav class="[ site-header__navigation ] [ hidden lg:block w-full lg:w-auto ]">
  <ul class="[ nav ] [ stack ] [ flex-col lg:flex-row lg:items-center w-full lg:w-auto ]" role="list">
    <li><a href="/">Home</a></li>
    <li><a href="/company/">Company</a></li>
    <li class="dropdown">
      <a href="/services/">Services <svg width="11" height="7" viewBox="0 0 11 7" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M0.722022 0.623499C0.86528 0.485669 1.0574 0.410353 1.25616 0.414104C1.45492 0.417854 1.64406 0.500363 1.78202 0.643499L5.49202 4.5815L9.20202 0.643499C9.26946 0.569154 9.35113 0.509102 9.4422 0.466901C9.53327 0.4247 9.63189 0.40121 9.73221 0.39782C9.83252 0.394431 9.9325 0.411211 10.0262 0.447169C10.1199 0.483126 10.2055 0.537529 10.2778 0.607152C10.3501 0.676775 10.4077 0.760203 10.4471 0.852491C10.4866 0.94478 10.5071 1.04405 10.5075 1.14442C10.5079 1.2448 10.4882 1.34423 10.4494 1.43683C10.4107 1.52942 10.3538 1.61331 10.282 1.6835L6.03202 6.1835C5.96206 6.25609 5.87818 6.31382 5.7854 6.35326C5.69262 6.39269 5.59284 6.41302 5.49202 6.41302C5.39121 6.41302 5.29143 6.39269 5.19864 6.35326C5.10586 6.31382 5.02198 6.25609 4.95202 6.1835L0.702022 1.6835C0.564192 1.54024 0.488876 1.34812 0.492626 1.14936C0.496377 0.950598 0.578886 0.761456 0.722022 0.623499Z"
            fill="white" />
        </svg>
      </a>

      <div class="dropdown__flyout">
        <ul class="nav" role="list">
          <li><a href="/education-software-development/">Education software development</a></li>
          <li><a href="/healthcare-software-development/">Healthcare software development</a></li>
          <li><a href="/web-development/">Web development</a></li>
          <li><a href="/it-strategy/">IT Strategy</a></li>
          <li><a href="/software-development-outsourcing/">Software Development Outsourcing</a></li>
          <li><a href="/mobile-app-development/">Mobile app development</a></li>
          <li><a href="/systems-integration/">Systems integration</a></li>
          <li><a href="/white-label-software-development/">White label software development</a></li>
          <li><a href="/outsourcing-it/">IT outsourcing</a></li>
          <li><a href="/saas-app-development/">SaaS app development</a></li>
          <li><a href="/software-prototyping/">Software prototyping</a></li>
        </ul>
      </div>
    </li>
    <li><a href="/stories/">Stories</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><button type="button" data-trigger="search"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16"
          enable-background="new 0 0 16 16" xml:space="preserve">
          <g>
            <g>
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M1,8.9c0.6,1.5,1.8,2.6,3.3,3.2
c1.5,0.6,3.1,0.6,4.6,0c1.5-0.6,2.6-1.8,3.2-3.3c0.6-1.5,0.6-3.1,0-4.6c-0.6-1.5-1.8-2.6-3.3-3.2C7.3,0.3,5.7,0.4,4.2,1
C2.7,1.6,1.5,2.8,0.9,4.3C0.3,5.8,0.4,7.4,1,8.9z" />
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                d="M10.8,10.8l4.7,4.7" />
            </g>
          </g>
        </svg>
      </button></li>
  </ul>
</nav>