<menu-toggle>
  <button class="[ menu-toggle ] [ block lg:hidden ]">
    <svg xmlns="http://www.w3.org/2000/svg" class="open" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      stroke-width="2">
      <title>Toggle menu</title>
      <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" class="close" fill="none" viewBox="0 0 24 24" stroke="currentColor"
      stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
</menu-toggle>

<nav class="[ site-header__navigation ] [ hidden w-full lg:block lg:w-auto ]">
  <ul class="[ nav ] [ stack ] [ flex-col lg:flex-row ]" role="list">
    <li><a href="/">Home</a></li>
    <li><a href="/company/">Company</a></li>
    <li>Services</li>
    <ul>
      <li>
        Industries
        <ul>
          <li><a href="/education-software-development/">Education software development</a></li>
          <li><a href="/healthcare-software-development/">Healthcare software development</a></li>
        </ul>
      </li>
      <li><a href="/web-development/">Web development</a></li>
      <li><a href="/it-strategy/">IT Strategy</a></li>
      <li><a href="/software-development-outsourcing/">Software Development Outsourcing</a></li>
      <li>
        <a href="/mobile-app-development/">Mobile app development</a>
        <ul>
          <li><a href="/mobile-app-development/manchester/">Mobile app development Manchester</a></li>
          <li><a href="/mobile-app-development/glasgow/">Mobile app development Glasgow</a></li>
          <li><a href="/mobile-app-development/liverpool/">Mobile app development Liverpool</a></li>
          <li><a href="/mobile-app-development/middlesbrough/">Mobile app development Middlesbrough</a></li>
          <li><a href="/mobile-app-development/sunderland/">Mobile app development Sunderland</a></li>
          <li><a href="/mobile-app-development/educational-app-development/">Educational App Development</a></li>
          <li><a href="/mobile-app-development/healthcare-app-development/">Healthcare App Development</a></li>
          <li><a href="/mobile-app-development/ecommerce-app-development/">Ecommerce App Development</a></li>
          <li><a href="/mobile-app-development/business-app-development/">Business App Development</a></li>
        </ul>
      </li>
      <li><a href="/systems-integration/">Systems integration</a></li>
      <li><a href="/white-label-software-development/">White label software development</a></li>
      <li><a href="/outsourcing-it/">IT outsourcing</a></li>
      <li><a href="/saas-app-development/">SaaS app development</a></li>
      <li><a href="/software-prototyping/">Software prototyping</a></li>
    </ul>
    <li><a href="/stories/">Success Stories</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="tel:+44(0)2070996399">+44 (0) 207 099 6399</a></li>
  </ul>
  {% if page.layout and page.layout!= "search" %}
  <form action="/search.html" method="get">
    <label for="search-term">Enter your search term:</label>
    <input type="text" id="search-term" name="q">
    <button type="submit">Search</button>
  </form>
  {% endif %}
</nav>