<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/company/">Company</a></li>
    <li>Services</li>
    <ul>
      <li>
          <a href="#">Industries</a>
          <ul>
              <li><a href="index.html">Education software development</a></li>
              <li><a href="../healthcare-software-development/index.html">Healthcare software development</a></li>
          </ul>
      </li>
      <li><a href="../web-development/index.html">Web development</a></li>
      <li><a href="../it-strategy/index.html">IT Strategy</a></li>
      <li><a href="../software-development-outsourcing/index.html">Software Development Outsourcing</a></li>
      <li>
          <a href="../mobile-app-development/index.html">Mobile app development</a>
          <ul>
              <li><a href="../mobile-app-development/manchester/index.html">Mobile app development Manchester</a></li>
              <li><a href="../mobile-app-development/glasgow/index.html">Mobile app development Glasgow</a></li>
              <li><a href="../mobile-app-development/liverpool/index.html">Mobile app development Liverpool</a></li>
              <li><a href="../mobile-app-development/middlesbrough/index.html">Mobile app development Middlesbrough</a></li>
              <li><a href="../mobile-app-development/sunderland/index.html">Mobile app development Sunderland</a></li>
              <li><a href="../mobile-app-development/educational-app-development/index.html">Educational App Development</a></li>
              <li><a href="../mobile-app-development/healthcare-app-development/index.html">Healthcare App Development</a></li>
              <li><a href="../mobile-app-development/ecommerce-app-development/index.html">Ecommerce App Development</a></li>
              <li><a href="../mobile-app-development/business-app-development/index.html">Business App Development</a></li>
          </ul>
      </li>
      <li><a href="../systems-integration/index.html">Systems integration</a></li>
      <li><a href="../white-label-software-development/index.html">White label software development</a></li>
      <li><a href="../outsourcing-it/index.html">IT outsourcing</a></li>
      <li><a href="../saas-app-development/index.html">SaaS app development</a></li>
      <li><a href="../software-prototyping/index.html">Software prototyping</a></li>
    </ul>
    <li><a href="/stories/">Stories</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="tel:+44(0)2070996399">+44(0)2070996399</a></li>
  </ul>
</nav>