<pre-footer>
    <awards>
        <h3>Our Awards</h3>
        <ul>
            <li>
                <h3>Member of the Mayor's International Business Programme</h3>
                <p>The Mayor’s International Business Programme is dedicated to London-based business. It offers practical advice and workable schemes to companies so that they can discover new ways to expand the business.</p>
            </li>
            <li>
                <h3>UK Innovation Fund award winner</h3>
                <p>Innovate UK is a non-departmental agency whose primary responsibility is to provide money and professional expertise to innovators so that they can put their ideas into action. They help researchers and inventors to market their new products and services.</p>
            </li>
            <li>
                <h3>Official supplier to the UK government</h3>
                <p>The biggest public procurement organisation in the UK, helping buyers in central government and across the public and third sectors to purchase everything from locum doctors and laptops to police cars and electricity.</p>
            </li>
        </ul>
    </awards>
    <certifications>
        <h3>Our Certifications</h3>
        <ul>
            <li>
                <h3>Cyber Essentials</h3>
                <p>We are CE cetified</p>
            </li>
            <li>
                <h3>ISO 9001</h3>
                <p>We operate in accordance with ISO 9001</p>
            </li>
            <li>
                <h3>ISO 27001</h3>
                <p>We operate in accordance with ISO 27001</p>
            </li>
        </ul>
    </certifications>
</pre-footer>