<header class="site-header">
  <div class="wrapper">
    <div class="[ site-header__inner ] [ stack ]">
      <a href="/" class="site-header__logo">{% include '../../../img/logo.svg' %}</a>

      <menu-toggle>
        <button class="[ menu-toggle ] [ block lg:hidden ]">
          <svg xmlns="http://www.w3.org/2000/svg" class="open" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <title>Toggle menu</title>
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" class="close" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </menu-toggle>

      <nav class="[ site-header__navigation ] [ hidden w-full lg:block lg:w-auto ]">
        <ul class="[ nav ] [ stack ] [ flex-col lg:flex-row ]" role="list">
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Services</a></li>
          <li><a href="/">Stories</a></li>
          <li><a href="/">Blog</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>