<section class="[ panel ] [ py-400 ]" data-theme="charcoal">
  <div class="wrapper">
    <nav aria-label="Filters navigation">
      <ul class="[ nav ] [ stack ] [ gap-200 ]" role="list">
        <li><a href="" class="button" data-theme="lime">All</a></li>
        <li><a href="" class="button" data-style="outline">Bespoke Software</a></li>
        <li><a href="" class="button" data-style="outline">Business</a></li>
        <li><a href="" class="button" data-style="outline">Business Intellgence</a></li>
        <li><a href="" class="button" data-style="outline">Mobile Apps</a></li>
        <li><a href="" class="button" data-style="outline">Other</a></li>
        <li><a href="" class="button" data-style="outline">Outsourcing</a></li>
        <li><a href="" class="button" data-style="outline">Property Management</a></li>
        <li><a href="" class="button" data-style="outline">System Integration</a></li>
        <li><a href="" class="button" data-style="outline">Wev Development</a></li>
      </ul>
    </nav>
  </div>
</section>