<section class="hero">
  <img src="uploads/hero-home.jpg" class="hero__background" alt="">

  <span class="hero__stripe" data-position="right" data-animate data-origin="bottom" data-delay="200"></span>
  <span class="hero__stripe" data-position="right-inner" data-animate data-origin="bottom" data-delay="200"></span>

  <div class="wrapper">
    <span class="hero__stripe" data-position="top" data-animate data-origin="top" data-delay="200"></span>
    <span class="hero__stripe" data-position="bottom" data-animate data-origin="bottom" data-delay="200"></span>

    <div class="[ flow ] [ max-w-[50ch] ]">
      <h1 data-animate>Bespoke Software development with a <strong>difference</strong>.</h1>
      <p data-animate>We engage over 200 software experts across 3 continents and use data to make decisions enabling us to design incredible software delivered with pace and rigour.</p>

      <div class="[ stack ] [ items-center ]">
        <a href="#" class="button" data-animate>View All Stories</a>

        <div data-animate>
          <h2 class="text-200">Have a question?</h2>
          <p class="text-200">Give us a call</p>
        </div>
      </div>
    </div>
  </div>
</section>