<section class="panel" data-theme="charcoal" data-overlap>
  <div class="wrapper">
    <div data-animate data-origin="bottom">
      <img src="uploads/hero-home.jpg" alt="" class="w-full h-auto rounded-3xl">
    </div>
  </div>
</section>