<section class="py-600 bg-charcoal text-lime">
  <div class="wrapper">
    <div class="flow">
      <h1>HeadChannel named among Clutch’s Top 1000 Global Companies 2021.</h1>
      <h2 class="text-400">Last updated August 16, 2021</h2>
    </div>
  </div>
</section>