<div class="panel" data-theme="charcoal">
  <div class="wrapper">
    <ul class="[ logo-stack ] [ stack ] [ flex-col lg:flex-row ]" role="list">
      <li><img src="uploads/cyber-essentials.png" alt=""></li>
      <li><img src="uploads/ccss.png" alt=""></li>
      <li><img src="uploads/london.png" alt=""></li>
      <li><img src="uploads/innovate.png" alt=""></li>
      <li><img src="uploads/innovate.png" alt=""></li>
      <li><img src="uploads/innovate.png" alt=""></li>
    </ul>
  </div>
</div>