<section class="panel" data-overlap>
  <div class="wrapper">
    <div class="[ slab ] [ bg-pink text-light lg:p-700 ]">
      <ul class="[ grid ] [ gap-600 lg:grid-cols-3 ]" role="list">
        <li class="[ breakdown ] [ flow ] [ text-center ]">
          <span class="breakdown__icon">{% include '../../../uploads/website.svg' %}</span>

          <h2 class="text-900" data-animate data-origin="bottom" data-delay="0">15</h2>
          <h3 class="text-400" data-animate data-origin="bottom" data-delay="200">Years of experience</h3>
        </li>
        <li class="[ breakdown ] [ flow ] [ text-center ]">
          <span class="breakdown__icon">{% include '../../../uploads/website.svg' %}</span>

          <h2 class="text-900" data-animate data-origin="bottom" data-delay="400">97%</h2>
          <h3 class="text-400" data-animate data-origin="bottom" data-delay="600">Years of experience</h3>
        </li>
        <li class="[ breakdown ] [ flow ] [ text-center ]">
          <span class="breakdown__icon">{% include '../../../uploads/website.svg' %}</span>

          <h2 class="text-900" data-animate data-origin="bottom" data-delay="800">100</h2>
          <h3 class="text-400" data-animate data-origin="bottom" data-delay="1000">Years of experience</h3>
        </li>
      </ul>
    </div>
  </div>
</section>