<section class="panel" data-overlap>
  <div class="wrapper">
    <div class="[ card ] [ p-600 aspect-auto ]">
      <div class="card__background">
        <img src="uploads/story.jpg" alt="">
      </div>

      <div class="[ flow ] [ max-w-prose ]">
        <h2 class="text-700">We’ve developed a multi-award-winning learning and simulation mobile app</h2>
        <h3 class="text-400 text-lime">The Learning Technologies 2020 awards</h3>
        <p>Recognised 'A Life in a Day': immersive patient experiences app. The app won:</p>
        <p><strong>GOLD</strong> for best use of mobile learning</p>
        <p><strong>SILVER</strong> for best use of simulation or virtual environment for learning</p>
        <p>It was recognised for our:</p>

        <ul class="[ checklist ] [ stack ] [ text-200 ]" role="list">
          <li>{% include '../../../img/icons/check.svg' %} Innovation</li>
          <li>{% include '../../../img/icons/check.svg' %} Intuitive design</li>
          <li>{% include '../../../img/icons/check.svg' %} Immersive experience</li>
          <li>{% include '../../../img/icons/check.svg' %} Security performance, efficiency & scalability</li>
          <li>{% include '../../../img/icons/check.svg' %} Global development</li>
        </ul>
      </div>
    </div>
  </div>
</section>