.button_magenta {
    display: inline-flex;
    align-items: center;
    gap: .25em;
    background: var(--color-pink);
    color: var(--color-charcoal);
    border-radius: var(--rounded-full);
    text-decoration: none;
    padding: .75em 1em;
    font-size: var(--text-300);
    font-family: var(--font-block);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    font-style: italic;
    line-height: var(--leading-none);
    transition: .4s ease-in-out;
    transition-property: background, color;
    cursor: pointer;
    border: none
}

.cta-btn {
    padding: 0rem 0rem 1rem 0rem;
}

.button_magenta:hover {
    color: var(--color-lime);
    background: var(--color-pink);
}

