---
layout: layouts/default.njk
title: Home
header: relative
---
<!-- Blocks -->
{% include './_includes/partials/blocks/intro.njk' %}
{% include './_includes/partials/blocks/filters.njk' %}
{% include './_includes/partials/blocks/stories.njk' %}