<section class="panel" data-theme="charcoal">
  <span class="[ panel__pattern ] [ hidden lg:block ]">{% include '../../../img/contact.svg' %}</span> 

  <div class="wrapper">
    <div class="[ grid ] [ gap-x-600 lg:grid-cols-2 ]">
      <div class="flow">
        <h2>Contact us<strong>.</strong></h2>
        <h3>If you need a partner in software development, we're here to help you.</h3>
        <p>We will respond to your enquiry within 24 hours.</p>
      </div>

      <form class="[ slab ] [ flow ] [ p-600 bg-light text-charcoal ]">
        <div>
          <label for="name">First Name</label>
          <input type="text" name="name" id="name">
        </div>
        <div>
          <label for="phone">Phone</label>
          <input type="tel" name="phone" id="phone">
        </div>
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
        </div>
        <div>
          <label for="message">Message</label>
          <textarea name="message" id="message"></textarea>
        </div>
        <div class="[ stack ] [ gap-200 ]">
          <input type="checkbox" name="terms" id="terms">
          <label for="terms" class="flex-1 text-200">I have read and understood the privacy policy and I am happy to send the message.*</label>
        </div>

        <button type="submit" class="button">Submit Form</button>
      </form>
    </div>
  </div>
</section>