<section class="panel">
  <div class="wrapper">
    <div class="[ grid ] [ gap-x-600 lg:grid-cols-2 ]">
      <div class="flow">
        <h2>Software outsourcing in practice<strong>.</strong></h2>
        <p>We can be as involved as you want us to be – from leading your in-house team to building and running a bespoke team and project processes on your behalf. The table below details the split of people, project and process responsibilities based on the level of engagement you choose.</p>
      </div>

      <span class="panel__graphic">
        {% include '../../../uploads/graphic.svg' %}
      </span>
    </div>
  </div>
</section>