<section class="panel" data-theme="charcoal" data-overlap>
  <div class="wrapper">
    <div class="[ slab ] [ bg-lime text-charcoal ]">
      <blockquote class="[ quote ] [ flow ]">
        <img src="/uploads/quote.jpg" class="quote__image" alt="">
        <p>"We have been impressed by HeadChannel’s flexibility and the effort made to understand what we were trying to do."</p>

        <cite>Michelle Groves, CEO, DaCapo Primary Music</cite>

        {% include '../../../img/icons/clutch-stars.svg' %}
      </blockquote>
    </div>
  </div>
</section>