<section class="panel" data-theme="lime">
    <div class="wrapper">
        <div class="[ flow ] [ flow-space-700 ]">
            <div class="[ grid ] [ gap-x-600 lg:grid-cols-2 ]">
                <h2>True Success stories<strong>.</strong></h2>

                <div class="[ flow ] [ flow-space-400 ]">
                    <p>We are particularly proud of these software solutions. Have a look at some of the best software products we have designed and developed
                        with our clients.
                    </p>
                </div>
            </div>

            <hr>
            <ul class="[ grid ] [ lg:grid-cols-3 ]" role="list">
                {% for entry in site.stories | limit: 3 %}
                <li class="[ card ] [ flow p-400 aspect-square ]">
                    <div class="card__background">
                        {% if entry.image and entry.image != "" %}
                        <img src="{{ entry.image }}" alt="{{ entry.title }}" />
                        {% endif %}
                    </div>
                    {% for category in entry.category %}
                    <span class="label">{{ category }}</span>
                    {% endfor %}
                    <h3 class="text-400"><a href="{{ entry.url }}" class="breakout-button">{{ entry.title }}</a></h3>
                    <p>{{ entry.summary }}
                    </p>
                </li>
                {% endfor %}
            </ul>

            <div class="text-center">
                <a href="#" class="button">View All Stories</a>
            </div>
        </div>
    </div>
</section>