<section class="panel">
    <div class="wrapper">
      <div class="[ flow ] [ flow-space-700 ]">
        <div class="[ grid ] [ gap-x-600 lg:grid-cols-2 ]">
          <h2>Our Client<strong>.</strong></h2>
  
          <div class="[ flow ] [ flow-space-400 ]">
            <img src="/assets/img/the-method_logo.svg"/>
          </div>
        </div>
  
        <hr>
  
        <p>HeadChannel's dedication to software excellence has not gone unnoticed. Over the years, our collaborative
            efforts with clients, innovative solutions, and a penchant for pushing technological boundaries have earned
            us numerous accolades and acknowledgements. From industry-specific awards to global recognitions, these
            accolades are a testament to our unwavering commitment to digital transformation and innovation. As we
            continue to evolve and grow, our journey is fueled by the partnerships we build, the challenges we overcome,
            and the successes we celebrate together with our clients.

          </p>
      </div>
    </div>
  </section>