<section class="panel" data-theme="charcoal">
    <div class="wrapper">
        <div class="[ flow ] [ flow-space-700 ]">
            <div class="[ grid ] [ gap-x-600 lg:grid-cols-2 ]">
                <h2>Bespoke software specialists<strong>.</strong></h2>

                <div class="[ flow ] [ flow-space-400 ]">
                    <p>We collaborate with forward-thinking organisations looking to evolve their digital footprint. Our
                        engineering teams bring a context-driven, value-focused approach to each engagement. We work
                        shoulder-to-shoulder with our clients to understand their unique needs. Then, we craft custom
                        solutions that are reliable, scalable, secure, and economically optimised. The software we build
                        together gives our clients the digital edge they seek, on a timeline and budget that makes sense
                        for their business.</p>
                </div>
            </div>

            <hr>

            <ul class="[ grid ] [ lg:grid-cols-3 ]" role="list">

                <li class="[ breakdown ] [ flow ]">
                    <span class="breakdown__icon"><svg width="48" height="49" viewBox="0 0 48 49" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M40.5 7.54297H7.5C6.70435 7.54297 5.94129 7.85904 5.37868 8.42165C4.81607 8.98426 4.5 9.74732 4.5 10.543V37.543C4.5 38.3386 4.81607 39.1017 5.37868 39.6643C5.94129 40.2269 6.70435 40.543 7.5 40.543H40.5C41.2957 40.543 42.0587 40.2269 42.6213 39.6643C43.1839 39.1017 43.5 38.3386 43.5 37.543V10.543C43.5 9.74732 43.1839 8.98426 42.6213 8.42165C42.0587 7.85904 41.2957 7.54297 40.5 7.54297ZM40.5 10.543V16.543H7.5V10.543H40.5Z"
                                fill="#DAFF02" />
                        </svg>
                    </span>

                    <h3 class="text-400">SOFTWARE DELIVERY</h3>
                    <p>In the Software Delivery model, we take full responsibility for developing your digital platforms
                        or services from start to finish. Our team oversees each milestone, ensuring timely delivery and
                        alignment with your business objectives. We use modern software engineering practices to create
                        robust, maintainable codebases. Rigorous testing protocols and continuous integration systems
                        help guarantee the software's quality and reliability.</p>
                    <div class="cta-btn">
                        <a class="btn_magenta" href="https://www.linkedin.com/smart-links/AQHb9kaF0ZfouA">Grab our SFIA Rate Card</a>
                    </div>
                </li>

                <li class="[ breakdown ] [ flow ]">
                    <span class="breakdown__icon"><svg width="48" height="49" viewBox="0 0 48 49" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M40.5 7.54297H7.5C6.70435 7.54297 5.94129 7.85904 5.37868 8.42165C4.81607 8.98426 4.5 9.74732 4.5 10.543V37.543C4.5 38.3386 4.81607 39.1017 5.37868 39.6643C5.94129 40.2269 6.70435 40.543 7.5 40.543H40.5C41.2957 40.543 42.0587 40.2269 42.6213 39.6643C43.1839 39.1017 43.5 38.3386 43.5 37.543V10.543C43.5 9.74732 43.1839 8.98426 42.6213 8.42165C42.0587 7.85904 41.2957 7.54297 40.5 7.54297ZM40.5 10.543V16.543H7.5V10.543H40.5Z"
                                fill="#DAFF02" />
                        </svg>
                    </span>

                    <h3 class="text-400">TEAM AUGMENTATION</h3>
                    <p>Our Team Augmentation model allows us to integrate skilled engineers directly into your existing
                        team. We cover technical areas that your in-house resources may not have the expertise to
                        handle, making it easy for you to scale your team's size and skill set as project requirements
                        change. Importantly, we enable a seamless knowledge transfer, equipping your team to sustain the
                        project over the long term. No ties.</p>
                </li>

                <li class="[ breakdown ] [ flow ]">
                    <span class="breakdown__icon"><svg width="48" height="49" viewBox="0 0 48 49" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M40.5 7.54297H7.5C6.70435 7.54297 5.94129 7.85904 5.37868 8.42165C4.81607 8.98426 4.5 9.74732 4.5 10.543V37.543C4.5 38.3386 4.81607 39.1017 5.37868 39.6643C5.94129 40.2269 6.70435 40.543 7.5 40.543H40.5C41.2957 40.543 42.0587 40.2269 42.6213 39.6643C43.1839 39.1017 43.5 38.3386 43.5 37.543V10.543C43.5 9.74732 43.1839 8.98426 42.6213 8.42165C42.0587 7.85904 41.2957 7.54297 40.5 7.54297ZM40.5 10.543V16.543H7.5V10.543H40.5Z"
                                fill="#DAFF02" />
                        </svg>
                    </span>

                    <h3 class="text-400">SOFTWARE ENGINEERING CONSULTING</h3>
                    <p>Our Software Engineering Consulting model employs our bank of fractional CTOs who specialise in
                        strategic planning, technology selection, and operational efficiency. Integral to this offering
                        is our Total Operating Model, a comprehensive approach that considers every aspect of your
                        business operations. This ensures that our advice is not only actionable but also deeply aligned
                        with your overarching strategy and goals.</p>
                </li>

            </ul>
        </div>
    </div>
</section>