{% if page.faqs.size > 0 %}
<section class="panel">
    <div class="wrapper">
        <div class="[ grid ] [ gap-x-600 lg:grid-cols-2 ]">
            <h2>Frequently Asked Questions<strong>.</strong></h2>

            <ul class="[ flow ] [ flow-space-400 ]" role="list">
                {% for faq in page.faqs %}
                <li>
                    <details class="flow">
                        <summary>{{ faq[0] | markdownify }}</summary>
                        <p>{{ faq[1] | markdownify }}</p>
                    </details>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endif %}