<section class="panel" data-overlap>
    <div class="wrapper">
        <div class="[ slab ] [ bg-pink text-light ]">
            <ul class="[ grid ] [ gap-600 lg:grid-cols-3 ]" role="list">
                <li class="[ breakdown ] [ flow ] [ text-center ]">
                    <span class="breakdown__icon">
                        <img src="/assets/svg/browser.svg" alt=""/>
                    </span>

                    {% capture current_year %}{{ 'now' | date: '%Y' }}{% endcapture %}
                    <h2 class="text-900">{{ current_year | minus: 2004 }}</h2>
                    <h3 class="text-400">Years of experience</h3>
                </li>
                <li class="[ breakdown ] [ flow ] [ text-center ]">
                    <span class="breakdown__icon">
                        <img src="/assets/svg/browser.svg" alt=""/>
                    </span>

                    <h2 class="text-900">97%</h2>
                    <h3 class="text-400">Referral Rate</h3>
                </li>
                <li class="[ breakdown ] [ flow ] [ text-center ]">
                    <span class="breakdown__icon">
                        <img src="/assets/svg/browser.svg" alt=""/>
                    </span>

                    <h2 class="text-900">100+</h2>
                    <h3 class="text-400">Succesful projects</h3>
                </li>
            </ul>
        </div>
    </div>
</section>