<section class="panel">
    <div class="wrapper">
        <div class="[ flow ] [ flow-space-700 ]">

            <div class="[ grid ] [ gap-x-600 lg:grid-cols-2 ]">
                <h2>Independently verified testimonials that certify our
                    expertise in bespoke software development<strong>.</strong></h2>

                <div class="[ flow ] [ flow-space-400 ]">
                    <p>Satisfied clients are our best references. Together we are pushing the boundaries of
                        software development. Read unbiased and trusted reviews about HeadChannel.</p>
                </div>
            </div>
            <div class="[ flow ] [ flow-space-700 ]>
                <iframe id="iframe-0.1718389696646856" width="100%"
                src="https://widget.clutch.co/widgets/get/4?ref_domain=headchannel.co.uk&amp;uid=301881&amp;ref_path=/"
                height="600px" scrolling="no" style="border: none; overflow: hidden; display: block; height: 641px;"
                title="[iFrameSizer]iframe-0.1718389696646856:0:0:mouseenter:-1200:1384"></iframe>
            </div>
        </div>
    </div>
</section>