<section class="panel">
    <div class="wrapper">
        <div class="[ grid ] [ gap-x-600 lg:grid-cols-2 ]">
            <h2>Frequently Asked Questions<strong>.</strong></h2>

            <ul class="[ flow ] [ flow-space-400 ]" role="list">
                {% for i in (0..page.faqs.size) %}
                <li>
                    <details class="flow">
                        <summary>{{ page.faqs[i] | markdownify }}</summary>
                        <p>{{ page.faqs-answers[i] | markdownify }}</p>
                    </details>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>