<section class="panel">
    <div class="wrapper">
      <div class="[ flow ] [ flow-space-700 ]">
        <div class="[ grid ] [ gap-x-600 lg:grid-cols-2 ]">
          <h2>Awards and recognitions<strong>.</strong></h2>
          
          <div class="[ flow ] [ flow-space-400 ]">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis neque felis. Curabitur in libero vitae lectus pellentesque pellentesque. Etiam lacinia neque ac quam sagittis tristique. Pellentesque eget dui tempus, mollis sapien feugiat, consequat odio.</p>
          </div>
        </div>
  
        <hr>
  
        <ul class="[ logo-stack ] [ stack ] [ flex-col lg:flex-row ]" role="list">
          <li><img src="/assets/uploads/cyber-essentials.png" alt=""></li>
          <li><img src="/assets/uploads/ccss.png" alt=""></li>
          <li><img src="/assets/uploads/london.png" alt=""></li>
          <li><img src="/assets/uploads/innovate.png" alt=""></li>
        </ul>
      </div>
    </div>
  </section>