<section class="panel" data-theme="charcoal" data-overlap>
  <div class="wrapper">
    <img src="/assets/uploads/hero-home.jpg" alt="" class="w-full h-auto rounded-3xl">
  </div>
</section>
<section class="panel" data-theme="charcoal">
  <div class="wrapper">
    <div class="[ flow ] [ flow-space-700 ]">
      <div class="[ grid ] [ gap-x-600 lg:grid-cols-2 ]">
        <h2>We build web applications for clients across the UK and Europe<strong>.</strong></h2>

        <div class="[ flow ] [ flow-space-400 ]">
          <p>At HeadChannel, we translate the needs and goals of our customers into reliable software featuring utility,
            ease of use and efficiency. We provide state-of-the-art technical solutions that minimize both future
            operational costs and risks. </p>
          <p>By implementing the best UX and CX practices, top technologies and project management methodologies, we
            give our clients a competitive advantage in business. Enterprises, service providers, small businesses, and
            governments are looking not only for cloud solutions to solve some of their biggest business and technology
            challenges. And we are open and ready to support them with our knowledge, experience and skills.</p>
        </div>
      </div>
    </div>
  </div>
</section>