<section class="panel" data-theme="charcoal">
    <div class="wrapper">
        <div class="[ flow ] [ flow-space-700 ]">
            <div class="[ grid ] [ gap-x-600 lg:grid-cols-2 ]">
                <h2>{{ page.feature_headline }}</h2>

                <div class="[ flow ] [ flow-space-400 ]">
                    <p>{{ page.feature_headline_para }}</p>
                </div>
            </div>

            <hr>

            <ul class="[ grid ] [ lg:grid-cols-3 ]" role="list">
                {% for features in page.features %}
                <li class="[ breakdown ] [ flow ]">
                    <span class="breakdown__icon">
                        {{ faq[2] }}
                    </span>
                    <h3 class="text-400">{{ faq[0] | markdownify }}</h3>
                    <p>{{ faq[1] | markdownify }}</p>
                    <div class="cta-btn">
                        <a class="button_magenta" href="https://meetings.hubspot.com/dpride">Book a consult</a>
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</section>