<section class="panel">
    <div class="wrapper">
        <div class="[ grid ] [ gap-x-600 lg:grid-cols-2 ]">
            <h2>Frequently Asked Questions<strong>.</strong></h2>

            <ul class="[ flow ] [ flow-space-400 ]" role="list">
                <li>
                    <details class="flow">
                        <summary>What is bespoke software?</summary>
                        <p>Whether you are an SME or a blue-chip company, our development teams are here to support you
                            in building either a long-term or a short-term IT roadmap specification to give your
                            business the edge. We can guarantee that the software we build will not only be reliable,
                            scalable and secure but also affordable.</p>
                    </details>
                </li>
                <li>
                    <details class="flow">
                        <summary>How long will it take to develop the first prototype of the software?</summary>
                        <p>Whether you are an SME or a blue-chip company, our development teams are here to support you
                            in building either a long-term or a short-term IT roadmap specification to give your
                            business the edge. We can guarantee that the software we build will not only be reliable,
                            scalable and secure but also affordable.</p>
                    </details>
                </li>
                <li>
                    <details class="flow">
                        <summary>Do you offer software support and maintenance?</summary>
                        <p>Whether you are an SME or a blue-chip company, our development teams are here to support you
                            in building either a long-term or a short-term IT roadmap specification to give your
                            business the edge. We can guarantee that the software we build will not only be reliable,
                            scalable and secure but also affordable.</p>
                    </details>
                </li>
            </ul>
        </div>
    </div>
</section>