<section class="py-600 bg-charcoal text-lime">
    <div class="wrapper">
        <div class="flow">
            {% if page.headline and page.headline != "" %}
            <h1>{{ page.headline }}</h1>
            <h2>{{ page.headline_para }}</h2>
            {% else %}
            <h1>{{ page.title }}</h1>
            <h2>{{ page.summary }}</h2>
            {% endif %}
        </div>
    </div>
</section>

<!-- 

page.topic {{ page.topic }}
page.title {{ page.title }}
page.summary {{ page.summary }}
page.headline {{ page.headline }}
page.headline_para {{ page.headline_para }}
page.cta {{ page.cta }}
page.showcategories {{ page.showcategories }}

page.url {{ page.url }}
page.layout {{ page.layout }}

-->