<section class="[ panel ] [ py-400 ]" data-theme="charcoal">
    <div class="wrapper">
        <nav aria-label="Filters navigation">
            <ul class="[ nav ] [ stack ] [ gap-200 ]" role="list">
                {% for category in site.category %}
                {% assign category_url_part = "/blog/category/" | append: category.topic %}
                {% if page.url contains category_url_part %}
                <li><a href="{{ category_url_part }}" class="button" data-theme="lime">{{ category.headline }}</a></li>
                {% else %}
                <li><a href="{{ category_url_part }}" class="button" data-style="outline">{{ category.headline }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>