.button {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
  background: var(--color-charcoal);
  color: var(--color-lime);
  border-radius: var(--rounded-full);
  text-decoration: none;
  padding: 0.75em 1em;
  font-size: var(--text-300);
  font-family: var(--font-block);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  font-style: italic;
  line-height: var(--leading-none);
  transition: .4s ease-in-out;
  transition-property: background, color;
  cursor: pointer;
  border: none;
}

.button:hover {
  background: var(--color-lime);
  color: var(--color-charcoal);
}