details summary {
  position: relative;
  list-style-type: none;
  font-family: var(--font-block);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  font-style: italic;
  line-height: var(--leading-cosy);
  border-bottom: 2px solid currentColor;
  padding-bottom: var(--size-200);
  padding-right: var(--size-400);
  cursor: pointer;
}

details summary:before {
  content: '+';
  position: absolute;
  top: 0;
  right: 0;
  line-height: var(--leading-none);
  transition: .2s ease-in-out;
  transition-property: transform;
}

details[open] summary:before {
  transform: rotate(45deg);
}

details summary::-webkit-details-marker {
  display: none;
}