.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--size-400) 0;
  z-index: 10;
  color: var(--color-light);
}

.site-header[data-type="relative"] {
  position: relative;
  background: var(--color-charcoal);
}

.site-header__inner {
  align-items: center;
  justify-content: space-between;
}

.site-header__logo {
  display: block;
  width: min(12rem, 30%);
}

.site-header__logo svg {
  width: 100%;
  height: auto;
}

.site-header__navigation {
  font-size: var(--text-200);
  text-align: center;
}

.site-header__navigation>ul.nav>li>a {
  padding: 0.5em 0;
}

.site-header[data-status='opened'] {
  background: var(--color-charcoal);
  color: var(--color-light);
  border-bottom: 4px solid var(--color-lime);
}

.site-header[data-status='opened'] .site-header__navigation {
  display: flex;
}