<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- include 'partials/meta.njk' -%}
    <script>document.documentElement.classList.remove('no-js');</script>

    <link rel="stylesheet" href="css/main.css">

    <script src="js/components/menu-toggle.js" type="module"></script>
    <script src="js/components/search-panel.js" type="module"></script>
  </head>
  <body>
    <!-- Search -->
    {% include '../partials/global/search.njk' %}

    <!-- Header -->
    {% include '../partials/global/header.njk' %}

    <main>
      {{ content | safe }}
    </main>

    <!-- Footer -->
    {% include '../partials/global/footer.njk' %}
  </body>
</html>