<!doctype html>
<html lang="en-GB">
{% include head.html %}

<body>
  <main>
    {% include components/panel_search.html %}
    {% include header.html %}

    {% include hero.html %}
    <section class="panel">
      <div class="wrapper">
        <div class="[ flow ] [ flow-space-700 ]">

          <ul class="[ grid ] [ lg:grid-cols-2 ]" role="list">
            {% for entry in site.blog %}
            <li class="[ card ] [ flow ]">
              <div class="card__background">
                {% if entry.image and entry.image != "" %}
                <img src="{{ entry.image }}" alt="{{ entry.title }}" loading="lazy" />
                {% endif %}
              </div>
              {% for category in entry.categories %}
              <span class="label">{{ category }}</span>
              {% endfor %}
              <h3 class="text-400"><a href="{{ entry.url }}" class="breakout-button">{{ entry.title }}</a></h3>
              <p>{{ entry.summary }}
              </p>
            </li>
            {% endfor %}
          </ul>

        </div>
      </div>
      </div>
    </section>

    {% include footer.html %}
  </main>
</body>

</html>