<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <main>
        <h1>Blogs</h1>
        <ul>
        {% assign bespoke_posts = site.blog | where: "category", page.topic %}
        {% for entry in bespoke_posts %}
            <li>    
            {% if entry.image and entry.image != "" %}
                <img src="{{ entry.image }}" alt="{{ entry.title }}" />
            {% endif %}
                <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </main>
    {% include footer.html %}
  </body>
</html>