<!doctype html>
<html lang="en-GB">
{% include head.html %}

<body>
  {% include header.html %}
  <main>
    {% include components/panel_intro.html %}
    {% include components/panel_categories.html %}
    <section class="panel">
      <div class="wrapper">
        <div class="[ flow ] [ flow-space-700 ]">

          <ul class="[ grid ] [ lg:grid-cols-2 ]" role="list">
            {% assign bespoke_posts = site.blog | where: "category", category.topic %}
            {% for entry in bespoke_posts %}
            <li class="[ card ] [ flow ]">
              <div class="card__background">
                {% if entry.image and entry.image != "" %}
                <img src="{{ entry.image }}" alt="{{ entry.title }}" loading="lazy" />
                {% endif %}
              </div>
              {% for category in entry.categories %}
              <span class="label">{{ category }}</span>
              {% endfor %}
              <h3 class="text-400"><a href="{{ entry.url }}" class="breakout-button">{{ entry.title }}</a></h3>
              <p>{{ entry.summary }}
              </p>
            </li>
            {% endfor %}
          </ul>
          <!--
            category.topic: {{ topic }}
            page.layout: {{ page.layout }}
          -->

        </div>
      </div>
    </section>
  </main>
  {% include footer.html %}

</body>

</html>