<!doctype html>
<html lang="en-GB">
{% include head.html %}

<body>
  {% include header.html %}
  <main>
    {% include components/panel_intro.html %}
    {% include components/panel_categories.html %}
    <section class="panel">
      <div class="wrapper">
        <div class="[ flow ] [ flow-space-700 ]">

          <!-- Extracting topic from the URL -->
          {% assign url_parts = page.url | split: "/" %}
          {% assign category_index = url_parts | index: "category" %}
          {% assign next_index = category_index | plus: 1 %}
          {% assign topic = url_parts[next_index] %}

          <ul>
            {% assign bespoke_posts = site.blog | where: "category", topic %}
            {% for entry in bespoke_posts %}
            <li>
              {% if entry.image and entry.image != "" %}
              <img src="{{ entry.image }}" alt="{{ entry.title }}" />
              {% endif %}
              <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
            {% endfor %}
          </ul>
          <!--
            url_parts: {{ url_parts }}
            category_index: {{ category_index }}
            next_index: {{ next_index }}
            topic: {{ topic }}
          -->

        </div>
      </div>
    </section>
  </main>
  {% include footer.html %}

</body>

</html>