<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <header>
      {% include hero.html %}
    </header>
    <section>
      {{ content }}
    </section>
    {% include components/cards_stories.html %}
    {% include components/cards_reviews.html %}
    {% include components/cards_awards.html %}
    {% include components/cards_certifications.html %}
    {% include components/component_book-a-call.html %}
    {% include footer.html %}
  </body>
</html>