<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    {% include components/panel_search.html %}
    {% include header.html %}

    {% include hero.html %}
    {% include components/panel_specialists.html %}
    {% include components/panel_logos_clients.html %}
    {% include components/cards_stories.html %}
    {% include components/panel_story.html %}
    {% include components/panel_services_london.html %}
    {% include components/panel_awards.html %}
    {% include components/panel_whatwedo.html %}
    {% include components/panel_stats.html %}
    {% include components/panel_faqs.html %}

    {% include components/panel_contact.html %}
    {% include footer.html %}
  </main>
</body>

</html>