<!doctype html>
<html lang="en-GB">
{% include head.html %}

<body>
  <main>
    {% include header.html %}

    {% include hero.html %}
    <section class="panel">
      <div class="wrapper">
        <div class="[ flow ] [ flow-space-700 ]">

          <ul class="[ grid ] [ lg:grid-cols-3 ]" role="list">
            {% for entry in site.stories %}
            <li class="[ card ] [ flow p-400 aspect-square ]">
              <div class="card__background">
                {% if entry.image and entry.image != "" %}
                <img src="{{ entry.image }}" alt="{{ entry.title }}" />
                {% endif %}
              </div>
              {% for category in entry.categories %}
              <span class="label">{{ category }}</span>
              {% endfor %}
              <h3 class="text-400"><a href="{{ entry.url }}" class="breakout-button">{{ entry.title }}</a></h3>
              <p>{{ entry.summary }}
              </p>
            </li>
            {% endfor %}
          </ul>

        </div>
      </div>
      </div>
    </section>

    {% assign image_break_color = "charcoal" %}
    {% include components/panel_image_break.html %}
    {% include components/panel_contact.html %}
    {% include footer.html %}
  </main>
</body>

</html>