<header class="site-header" data-type="{{ header }}">
  <div class="wrapper">
    <div class="[ site-header__inner ] [ stack ]">
      <a href="/" class="site-header__logo">{% include '../../../img/logo.svg' %}</a>

      <menu-toggle>
        <button class="[ menu-toggle ] [ block lg:hidden ]">
          <svg xmlns="http://www.w3.org/2000/svg" class="open" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <title>Toggle menu</title>
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" class="close" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </menu-toggle>

      <nav class="[ site-header__navigation ] [ hidden lg:block w-full lg:w-auto ]">
        <ul class="[ nav ] [ stack ] [ flex-col lg:flex-row lg:items-center w-full lg:w-auto ]" role="list">
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li class="dropdown">
            <a href="/services/">Services {% include '../../../img/icons/caret-down.svg' %}</a>
            
            <div class="dropdown__flyout">
              <ul class="nav" role="list">
                <li><a href="/education-software-development/">Education software development</a></li>
                <li><a href="/healthcare-software-development/">Healthcare software development</a></li>
                <li><a href="/web-development/">Web development</a></li>
                <li><a href="/it-strategy/">IT Strategy</a></li>
                <li><a href="/software-development-outsourcing/">Software Development Outsourcing</a></li>
                <li><a href="/mobile-app-development/">Mobile app development</a></li>
                <li><a href="/systems-integration/">Systems integration</a></li>
                <li><a href="/white-label-software-development/">White label software development</a></li>
                <li><a href="/outsourcing-it/">IT outsourcing</a></li>
                <li><a href="/saas-app-development/">SaaS app development</a></li>
                <li><a href="/software-prototyping/">Software prototyping</a></li>
              </ul>
            </div>
          </li>
          <li><a href="/">Stories</a></li>
          <li><a href="/">Blog</a></li>
          <li><a href="/">Contact</a></li>
          <li><button type="button" data-trigger="search">{% include '../../../img/icons/search.svg' %}</button></li>
        </ul>
      </nav>
    </div>
  </div>
</header>