<search-panel id="search" class="search-panel">
  <div class="wrapper">
    <form action="/search.html" method="GET" class="search-panel__inner">
      <input type="search" name="q" placeholder="Search..." class="search-panel__input">
      <button type="submit" class="search-panel__button">{% include '../../../img/icons/search.svg' %}</button>
    </form>
  </div>
</search-panel>